*.o
*.lock
*.swp
*.swo
*.pyc
.gdb_history

fuzzing_keys
__pycache__
logs/
src/logs/
src/out
src/err
*.bag/
analysis/
logs_original/
preprocessed/
logs_px4/
logs_px4_original/
docs/
src/oracle_ir/specs
system_doc/turtlebot3
system_doc/turtlebot3_clean
